@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


:root {
    --mainFont: Work Sans;
    --secondaryFont: Itim;
    --mainBlue: #2E4172;
    --secondaryBlue: #3F5AA0;
    --mainGreen: #A7D7B2;
    --white: white;
    --ctaColor: #F78989;
}

.article-page{
    font-family: var(--mainFont);
}

.contact{
    background-color: var(--mainGreen);
}

.contact-btn{
    background-color: var(--mainGreen);
}

.signup-sidebar{
    background-color: var(--mainBlue);
    color: var(--white);
    border-radius: 10px;
}

.categories-sidebar{
    background-color: var(--secondaryBlue);
    border-radius: 10px;
    font-family: var(--mainFont);
}
